/*! formstone v1.2.2 [dropdown.css] 2016-09-30 | GPL-3.0 License | formstone.it */

.fs-dropdown{position:relative;z-index:1;display:block;max-width:100%}.fs-dropdown,.fs-dropdown *,.fs-dropdown :after,.fs-dropdown :before,.fs-dropdown:after,.fs-dropdown:before{box-sizing:border-box;-webkit-transition:none;transition:none;-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.fs-dropdown-element{width:100%;height:100%;position:absolute;left:0;z-index:-1;opacity:0;outline:0;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}.fs-dropdown-mobile .fs-dropdown-element{z-index:7}.fs-dropdown-mobile.fs-dropdown-multiple .fs-dropdown-element{z-index:-1}.fs-dropdown-selected{border:none;padding:0;width:100%;position:relative;z-index:2;background:#fff;border:1px solid;color:#000;cursor:pointer;display:block;overflow:hidden;text-align:left;text-overflow:clip}.fs-dropdown-options{width:100%;max-height:260px;position:absolute;top:100%;left:0;z-index:5;background:#fff;border:1px solid;display:none;overflow:auto;overflow-x:hidden}.fs-dropdown-options.fs-scrollbar{position:absolute}.fs-dropdown-group{display:block;font-size:75%}.fs-dropdown-item{border:none;padding:0;width:100%;background:#fff;border-radius:0;color:#000;cursor:pointer;display:block;overflow:hidden;text-align:left;text-decoration:none;text-overflow:ellipsis}.fs-dropdown-item_placeholder{display:none}.fs-dropdown-item_selected{background:#ddd}.fs-dropdown-item_disabled{cursor:default;opacity:.5}.fs-dropdown-open{z-index:3}.fs-dropdown-open .fs-dropdown-options{display:block}.fs-dropdown-open .fs-dropdown-selected{z-index:6}.fs-dropdown-cover.fs-dropdown-open .fs-dropdown-selected{z-index:4}.fs-dropdown-cover .fs-dropdown-options{top:0}.fs-dropdown-bottom .fs-dropdown-options{top:auto;bottom:100%}.fs-dropdown-bottom.fs-dropdown-cover .fs-dropdown-options{top:auto;bottom:0}.fs-dropdown-multiple .fs-dropdown-options{width:100%;position:static;display:block}.fs-dropdown-disabled{opacity:.5}.fs-dropdown-disabled .fs-dropdown-selected{cursor:default}.fs-dropdown-disabled .fs-dropdown-group,.fs-dropdown-disabled .fs-dropdown-item{cursor:default}.fs-dropdown-options.fs-scrollbar{overflow:hidden}.fs-dropdown-options.fs-scrollbar .fs-scrollbar-bar{border:1px solid;border-width:0 0 0 1px}.fs-dropdown-options.fs-scrollbar .fs-scrollbar-content{max-height:260px;height:auto}.fs-dropdown-options.fs-scrollbar.fs-scrollbar-active .fs-scrollbar-content{padding:0}

/*! formstone v1.2.2 [scrollbar.css] 2016-09-30 | GPL-3.0 License | formstone.it */

.fs-scrollbar{overflow:hidden;overflow-x:hidden;overflow-y:hidden;position:relative}.fs-scrollbar,.fs-scrollbar *{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.fs-scrollbar,.fs-scrollbar-bar,.fs-scrollbar-content,.fs-scrollbar-handle,.fs-scrollbar-track{box-sizing:border-box}.fs-scrollbar-content{position:relative;z-index:1;height:100%;overflow:auto;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}.fs-scrollbar-content::-webkit-resizer,.fs-scrollbar-content::-webkit-scrollbar,.fs-scrollbar-content::-webkit-scrollbar-button,.fs-scrollbar-content::-webkit-scrollbar-corner,.fs-scrollbar-content::-webkit-scrollbar-thumb,.fs-scrollbar-content::-webkit-scrollbar-track,.fs-scrollbar-content::-webkit-scrollbar-track-piece{background:0 0;opacity:0}.fs-scrollbar-bar{width:20px;height:100%;position:absolute;right:0;top:0;z-index:2;background:#fff;border:1px solid;border-width:0 0 0 1px;display:none}.fs-scrollbar-track{width:100%;height:100%;position:relative;background:#fff;overflow:hidden}.fs-scrollbar-handle{width:20px;height:40px;position:absolute;top:0;right:0;z-index:2;background:#999;cursor:pointer}.fs-scrollbar-horizontal .fs-scrollbar-content{overflow:auto;overflow-x:auto;overflow-y:hidden;padding:0 0 20px 0}.fs-scrollbar-horizontal .fs-scrollbar-bar{width:100%;height:20px;top:auto;bottom:0;border-width:1px 0 0 0}.fs-scrollbar-horizontal .fs-scrollbar-handle{width:40px;height:20px;top:auto;right:auto;bottom:0}.fs-scrollbar-active .fs-scrollbar-content,.fs-scrollbar-setup .fs-scrollbar-content{padding:20px}.fs-scrollbar-active .fs-scrollbar-bar,.fs-scrollbar-setup .fs-scrollbar-bar{display:block}


/* light theme */
/* drop start */

.fs-dropdown.fs-light .fs-dropdown-selected {
    height: 40px;
    background: #fff;
    border: 1px solid #546e7a;
    border-radius: 2px;
    color: #263238;
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    padding: 0 40px 0 15px
}

.fs-dropdown.fs-light .fs-dropdown-selected:after {
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #546e7a;
    content: '';
    display: block;
    margin: auto 0
}

.fs-dropdown.fs-light.fs-dropdown-focus .fs-dropdown-selected,
.no-touchevents .fs-dropdown.fs-light .fs-dropdown-selected:hover {
    background-color: #fff;
    border-color: #263238;
    color: #263238
}

.fs-dropdown.fs-light.fs-dropdown-focus .fs-dropdown-selected:after,
.no-touchevents .fs-dropdown.fs-light .fs-dropdown-selected:hover:after {
    border-top-color: #263238
}

.fs-dropdown.fs-light .fs-dropdown-options {
    max-height: 260px;
    border: 1px solid #263238;
    border-width: 0 1px 1px;
    border-radius: 0 0 2px 2px;
    background-color: #fff;
    margin: 0;
    padding: 0
}

.fs-dropdown.fs-light .fs-dropdown-group {
    border-bottom: 1px solid #78909c;
    color: #546e7a;
    font-size: 11px;
    padding: 10px 15px;
    text-transform: uppercase
}

.fs-dropdown.fs-light .fs-dropdown-item {
    background: #fff;
    color: #263238;
    font-size: 14px;
    line-height: 1.4;
    padding: 10px 15px;
    text-align: left
}

.fs-dropdown.fs-light .fs-dropdown-item:first-child {
    border-radius: 0
}

.fs-dropdown.fs-light .fs-dropdown-item:last-child {
    border-bottom: 0;
    border-radius: 0 0 2px 2px
}

.no-touchevents .fs-dropdown.fs-light .fs-dropdown-item:hover {
    color: #111;
    background-color: #cfd8dc
}

.fs-dropdown.fs-light .fs-dropdown-item_selected,
.no-touchevents .fs-dropdown.fs-light .fs-dropdown-item_selected:hover {
    background: #b0bec5
}

.fs-dropdown.fs-light .fs-dropdown-item_disabled,
.no-touchevents .fs-dropdown.fs-light .fs-dropdown-item_disabled:hover {
    color: #263238;
    background-color: #fff;
    border-color: #546e7a;
    opacity: .5
}

.fs-light.fs-dropdown-open .fs-dropdown-options {
    border-radius: 0 0 2px 2px
}

.fs-light.fs-dropdown-open .fs-dropdown-selected {
    border-radius: 2px 2px 0 0
}

.fs-light.fs-dropdown-open .fs-dropdown-selected {
    background-color: #fff
}

.fs-light.fs-dropdown-cover .fs-dropdown-options {
    border-radius: 2px;
    border-width: 1px
}

.fs-light.fs-dropdown-cover .fs-dropdown-item:first-child {
    border-radius: 2px 2px 0 0
}

/* .fs-light.fs-dropdown-bottom .fs-dropdown-options {
    border-width: 1px 1px 0
}

.fs-light.fs-dropdown-bottom .fs-dropdown-item:last-child {
    border: none
}

.fs-light.fs-dropdown-bottom.fs-dropdown-open .fs-dropdown-selected {
    border-radius: 0 0 2px 2px
}

.fs-light.fs-dropdown-bottom.fs-dropdown-open .fs-dropdown-options {
    border-radius: 2px 2px 0 0
}

.fs-light.fs-dropdown-bottom.fs-dropdown-cover.fs-dropdown-open .fs-dropdown-selected {
    border-radius: 2px
}

.fs-light.fs-dropdown-bottom.fs-dropdown-cover.fs-dropdown-open .fs-dropdown-options {
    border-radius: 2px
} */

.fs-light.fs-dropdown-multiple {
    border: 1px solid #546e7a;
    border-radius: 2px
}

.fs-light.fs-dropdown-multiple .fs-dropdown-options {
    border: none;
    border-radius: 2px
}

.fs-light.fs-dropdown-disabled {
    opacity: .5
}

.fs-light.fs-dropdown-disabled .fs-dropdown-selected,
.no-touchevents .fs-light.fs-dropdown-disabled .fs-dropdown-selected:hover {
    background: #fff;
    border-color: #546e7a;
    color: #263238;
    cursor: default
}

.fs-light.fs-dropdown-disabled .fs-dropdown-selected:after,
.no-touchevents .fs-light.fs-dropdown-disabled .fs-dropdown-selected:hover:after {
    border-top-color: #546e7a
}

.fs-light.fs-dropdown-disabled .fs-dropdown-options {
    background: #fff;
    border-color: #546e7a
}

.fs-light.fs-dropdown-disabled .fs-dropdown-group,
.fs-light.fs-dropdown-disabled .fs-dropdown-item {
    border-color: #546e7a;
    color: #263238
}

.fs-light.fs-dropdown-disabled .fs-dropdown-item,
.no-touchevents .fs-light.fs-dropdown-disabled .fs-dropdown-item:hover {
    color: #263238;
    background-color: #fff
}

.fs-light.fs-dropdown-disabled .fs-dropdown-item_selected,
.no-touchevents .fs-light.fs-dropdown-disabled .fs-dropdown-item_selected:hover {
    background: #fff
}

.fs-light.fs-dropdown-options.fs-scrollbar {
    overflow: hidden
}

.fs-light.fs-dropdown-options.fs-scrollbar .fs-scrollbar-bar {
    border: 1px solid #546e7a;
    border-width: 0 0 0 1px
}

.fs-light.fs-dropdown-options.fs-scrollbar .fs-scrollbar-content {
    border: none;
    max-height: 260px;
    height: auto
}

.fs-light.fs-dropdown-options.fs-scrollbar.fs-scrollbar-active .fs-scrollbar-content {
    padding: 0
}

.fs-light.fs-dropdown-options.fs-scrollbar .fs-scrollbar-bar,
.fs-light.fs-dropdown-options.fs-scrollbar .fs-scrollbar-track {
    border-radius: 0 2px 2px 0
}
/* drop end */
/* scroll start */
.fs-scrollbar.fs-light {
    background: #fff;
    border: 1px solid #546e7a;
    border-radius: 2px
}

.fs-scrollbar.fs-light .fs-scrollbar-bar {
    width: 20px;
    background: #fff;
    border: 1px solid #546e7a;
    border-radius: 0 2px 2px 0;
    border-width: 0 0 0 1px
}

.fs-scrollbar.fs-light .fs-scrollbar-track {
    background: #fff;
    border-radius: 0 2px 2px 0
}

.fs-scrollbar.fs-light .fs-scrollbar-handle {
    width: 9pt;
    height: 24px;
    right: 4px;
    background: #546e7a;
    border: 1px solid #fff;
    border-radius: 10px
}

.fs-light.fs-scrollbar-horizontal .fs-scrollbar-content {
    padding: 0 0 20px 0
}

.fs-light.fs-scrollbar-horizontal .fs-scrollbar-bar {
    width: 100%;
    height: 20px;
    border-width: 1px 0 0 0
}

.fs-light.fs-scrollbar-horizontal .fs-scrollbar-handle {
    width: 24px;
    height: 9pt;
    bottom: 4px
}

.fs-light.fs-scrollbar-active .fs-scrollbar-content,
.fs-light.fs-scrollbar-setup .fs-scrollbar-content {
    padding: 20px
}
/* scroll end */