@media screen and (min-width: 1000px){
	.desktop-map .map-address {
		width: 305px;
		left: 50%;
		right: auto;
		margin-left: 275px;
		top: 90px;
		-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.4);
		box-shadow: 0 2px 3px rgba(0,0,0,.4);
	}
	.desktop-map .map-address .header {
		font-size: 30px;
		line-height: 36px;
		padding: 33px 70px 27px 30px;
	}
	.desktop-map .map-address .frame {
		padding: 35px 29px;
	}
	.desktop-map .map-address .phone {
		font-size: 21px;
		line-height: 25px;
		margin: 0 0 21px;
	}
	.desktop-map .map-address address {
		font-size: 18px;
		line-height: 26px;
		margin: 0 0 16px;
	}
	.desktop-map .map-address .mail {
		font-size: 21px;
		line-height: 25px;
		margin: 0 0 35px;
	}
	.desktop-map .map-address .border-btn {
		display: block;
		text-align: center;
	}
}
@media screen and (max-width: 1300px){
	.tradingItem .title {
		font-size: 25px;
		line-height: 25px;
	}
	.tradingItem .text {
		font-size: 15px;
		line-height: 20px;
	}
}
@media screen and (max-width: 1200px){
	.investItem .wrap {
		padding: 40px;
	}
	.investItem .title {
		font-size: 38px;
		line-height: 45px;
	}
	.investItem .frame {
		font-size: 20px;
		line-height: 26px;
	}
	.investItem .visual {
		height: 460px;
	}
	.tarifsItem .title {
		font-size: 30px;
		line-height: 35px;
	}
	.tarifsItem .text {
		font-size: 14px;
		line-height: 20px;
	}
	.tarifsItem {
		padding: 55px 2% 100px;
	}
	.tarifsItem .border-btn {
		bottom: 50px;
	}
	.tarifInformation-name {
		float: none;
		width: auto;
		margin-bottom: 30px;
	}
	.tarifInformation-row {
		margin-left: 0;
	}
	.tarifInformation-row:after{
		display:block;
		clear:both;
		content:'';
	}
	.tarifInformation-header .col.col01 {
		display: none;
	}
	.tarifInformation-col .buttons {
		margin-left: 0;
	}
	.tarifInformation-col .buttons a {
		padding: 10px 20px;
		font-size: 20px;
		line-height: 24px;
	}
	.newsItem {
		padding: 25px;
	}
	.newsItem .drop-info {
		padding: 25px;
	}
	.newsItem .text {
		margin-left: 60px;
		font-size: 16px;
		line-height: 21px;
	}
	.newsItem.seeAll {
		font-size: 26px;
		line-height: 32px;
	}
	.license-slider .frame {
		margin-left: 150px;
		padding-right: 20px;
	}
	.license-slider .visual {
		padding-left: 3px;
	}
	.desktop-map .map-address {
		left: auto;
		right: 20px;
		margin-left: 0;
	}
	.team-leader .frame {
		padding: 30px 40px 30px;
	}




}
@media screen and (max-width: 1000px){
	#nav .drop a,
	#nav a {
		padding: 10px;
	}
	#nav .drop {
		min-width: 240px;
	}
	.header-phone {
		font-size: 20px;
		line-height: 24px;
	}
	.logo {
		margin: 0;
	}
	.header-phone,
	.login-link {
		margin-left: 10px;
	}
	.header-phone {
		padding: 0 15px;
	}
	.header-info address {
		line-height: 16px;
		width: 150px;
		margin: -4px 0 0;
	}
	.main-promo_info {
		padding: 65px 0 50px;
	}
	.promo-title {
		font-size: 35px;
		line-height: 40px;
	}
	.promo-columns {
		font-size: 16px;
		line-height: 21px;
	}
	.promo-columns .col {
		padding: 0 30px;
	}
	.cote-slider .name {
		font-size: 24px;
		line-height: 30px;
	}
	.cote-slider .percent {
		font-size: 20px;
		line-height: 24px;
	}
	.services-col {
		height: 460px;
	}
	.services-col .name {
		font-size: 34px;
		line-height: 37px;
	}
	.services-col .info {
		font-size: 20px;
		line-height: 26px;
	}
	.footer-information-wrap {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.footer-information-wrap .footer-about-col,
	.footer-information-wrap .footer-nav-col,
	.footer-information-wrap .footer-tarif-col,
	.footer-information-wrap .footer-info {
		-webkit-box-flex:0 0 50%;
		-moz-box-flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		padding-bottom: 30px;
	}
	.footer-information-wrap .footer-info {
		-webkit-box-ordinal-group: 0;
		-moz-box-ordinal-group: 0;
		-ms-flex-order: 0;
		-webkit-order: 0;
		order: 0;
	}
	.footer-information-wrap .footer-nav-col {
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}
	.footer-information-wrap .footer-about-col{
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}
	.footer-information-wrap .footer-tarif-col {
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
	}
	.footer-information {
		padding: 40px 0;
	}
	.investItem .wrap {
		text-align: center;
		padding: 20px;
	}
	.investItem .title {
		font-size: 18px;
		line-height: 23px;
	}
	.investItem .frame {
		font-size: 14px;
		line-height: 19px;
	}
	.border-btn {
		font-size: 18px;
		line-height: 22px;
	}
	.investItem .frame {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
	.investItem .frame,
	.investItem .visual {
		height: 310px;
	}
	.section-title {
		padding: 29px 20px 29px;
		font-size: 32px;
		line-height: 38px;
	}
	.tradingItems {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.tradingItem {
		-webkit-box-flex:0 0 50%;
		-moz-box-flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		padding: 50px 35px 50px;
		border-top: 1px solid rgba(255,255,255,.3);
		border-left: 1px solid rgba(255,255,255,.3);
	}
	.tradingSlider .title {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 17px;
	}

	.tradingInformation .visual {
		padding: 0 40px;
		width: 40%;
	}
	.tradingInformation .frame {
		margin-left: 40%;
		padding: 6px 20px 0 30px;
	}
	.tradingInformation {
		padding: 50px 0;
	}	
	.download-btn {
		padding: 10px 50px;
		font-size: 20px;
		line-height: 24px;
	}


	.tarifsItems {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-left: -1px;
	}
	.tarifsItem {
		-webkit-box-flex:0 0 50%;
		-moz-box-flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		padding: 50px 35px 50px;
		border-top: 1px solid rgba(255,255,255,.3);
		border-left: 1px solid rgba(255,255,255,.3);
	}
	.tarifsItem .border-btn {
		bottom: 25px;
	}

	.tarifInformation-col {
		float: none;
		width: auto;
	}
	.tarifInformation-info {
		float: none;
		width: auto;
	}
	.tarifInformation-header .col.col02,
	.tarifInformation-header .col.col03,
	.tarifInformation-col .info-list .col01,
	.tarifInformation-col .info-list .col02 {
		width: 50%;
	}
	.tarifInformation-name {
		display: none;
	}
	.tarifInformation-name-mobile {
		display: block;
		margin: 0 0 15px;
		font-size: 28px;
		line-height: 32px;
		font-weight: bold;
	}
	.tarifInformation-name-mobile span {
		color: #dbdbdb;
		font-weight: 300;
	}

	.tarifInformation-info {
		display: none;
	}
	.tarifInformation-mobile-help {
		display: block;
		overflow: hidden;
	}
	.tarifInformation-mobile-help .info {
		float: left;
		width: 33%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 15px;
	}
	.tarifInformation-mobile-help .star {
		font-family: 'Roboto', sans-serif;
		display: block;
		font-weight: bold;
		font-size: 40px;
		line-height: 42px;
		margin: 0 0 4px;
	}
	.tarifInformation-mobile-help .text {
		font-size: 14px;
		line-height: 21px;
	}
	.popup.wide {
		width: 600px;
		margin-left: -300px;
	}
	.accordion .header {
		padding: 30px 155px 30px;
	}
	.document-list a {
		padding: 20px 0 20px 60px;
		min-height: 48px;
	}
	.document-list a:before {
		top: 18px;
		width: 30px;
		height: 40px;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.document-list {
		font-size: 18px;
		line-height: 24px;
	}
	.aboutCompany {
		padding-left: 0;
		padding-right: 0;
	}
	.aboutCompany .visual {
		float: none;
		margin-bottom: 20px;
	}
	.aboutCompany .frame {
		margin: 0;
	}
	.requisitesCompany {
		padding: 0;
	}
	.about-section-title {
		margin-bottom: 50px;
	}
	.desktop-map #map-canvas {
		height: 490px;
	}

	.desktop-map .map-address .border-btn {
		padding: 5px 20px;
	}
	.news-list {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.news-list .newsItem {
		-webkit-box-flex:0 0 50%;
		-moz-box-flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
	}
	.news-list .newsItem .text {
		font-size: 12px;
		line-height: 15px;
	}
	.news-list .newsItem {
		border-top-width: 0;
	}
	.newsItem .drop-info {
		padding: 15px;
	}
	.newsItem .drop-info .btn-holder {
		position: static;
	}
	.newsItem .drop-info .text-frame {
		margin-bottom: 10px;
	}
	.newsItem .drop-info .border-btn {
		font-size: 14px;
		line-height: 17px;
		padding: 5px 10px;
	}
	.newsItem .drop-info .text-frame {
		max-height: 92px;
	}
	.team-section-title {
		margin-bottom: -50px;
		padding-bottom: 80px;
	}
	.team-list > li  {
		width: 50%;
	}
	.team-leader .name {
		font-size: 24px;
		line-height: 32px;
	}
	.team-leader .text {
		font-size: 14px;
		line-height: 20px;
	}
	.team-leader .visual {
		height: 390px;
	
	}
	.team-leader .post {
		margin-bottom: 20px;
	}

}


@media screen and (max-width: 750px){
	.inner-page .header-frame {
		background: #f9f7f7;
	}
	.header-info address {
		display: none;
	}
	.login-link {
		display: none;
	}
	.nav {
		display: none;
	}
	.header-phone {
		border: none;
	}
	.partneer-slider .slick-slide img {
		max-width: 100%;
		height: auto;
	}
	.services-col {
		height: 360px;
		padding: 10px 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.services-col .visual {
		width: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	.services-col .info {
		width: auto;
		font-size: 16px;
		line-height: 20px;
	}
	.footer-information {
		display: none;
	}
	.logo {
		width: 95px;
		height: 26px;
		-webkit-background-size: contain;
		background-size: contain;
		margin: 0 0 0 -9px;
	}
	.mobile-map {
		display: block;
	}
	#map-canvas {
		height: 400px;
	}
	.header-info {
		float: none;
		text-align: center;
		margin: 0px 130px;
	}
	.header-phone {
		margin: 0;
		padding: 0;
		font-size: 21px;
		line-height: 24px;
		float: none;
	}
	.nav-opener {
		display: block;
		top: 50%;
		margin-top: -20px;
	}
	.header-frame {
		padding: 20px 0;
	}
	.main-promo_info {
		padding: 36px 0 50px;
	}
	.promo-logo {
		width: 56px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 18px;
	}
	.promo-logo img {
		max-width: 100%;
		height: auto;
		vertical-align: top;
	}
	.promo-title {
		font-size: 30px;
	}
	.promo-columns .col:first-child,
	.promo-columns .col {
		float: none;
		width: auto;
		text-align: center;
		padding: 0 0 20px;
	}
	.promo-columns:before {
		display: none;
	}
	.promo-columns .col p {
		margin: 0;
		display: inline;
	}
	.mobile-nav {
		display: block;
		right: -300px;
		-webkit-transition: right 0.3s ease 0s;
		-moz-transition: right 0.3s ease 0s;
		-o-transition: right 0.3s ease 0s;
		transition: right 0.3s ease 0s;
	}
	.nav-active .mobile-nav {
		right: 0;
	}
	.footer-row .open-account-wrap .btn {
		font-size: 20px;
		line-height: 24px;
		padding: 9px 32px;
	}
	.footer-row .open-account-wrap {
		top: -21px;
	}
	.services-col .name {
		font-size: 24px;
		line-height: 28px;
	}
	.services-section-title {
		display: none;
	}
	.logo {
		text-indent: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 13px;
		line-height: 13px;
		background: none;
		position: relative;
		width: 140px;
		height: 36px;
		margin: -6px 0 -7px -6px;
	}
	.logo a:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 35px;
		height: 35px;
		background: url(../images/logo.png) no-repeat;
		background-size: auto 100%;
	}
	.logo a {
		padding: 4px 0 0 39px;
	}
	.investItem p {
		margin-bottom: 18px;
	}
	.investItem .title {
		margin-bottom: 13px;
	}
	.border-btn {
		padding: 10px 30px;
	}
	.tradingItem {
		padding: 30px 20px;
	}
	.tradingInformation .visual:before {
		display: none;
	}
	.tradingInformation .visual {
		padding: 16px 5px 0 41px;
	}
	.tradingInformation .frame {
		padding: 20px 20px 0;
	}
	.tradingInformation .name {
		max-width: 100px;
	}
	.tradingInformation .text {
		font-size: 16px;
		line-height: 21px;
	}
	.tradingSlider .wrap {
		padding: 0 20px 0 0;
	}
	.tradingSlider {
		margin-bottom: 40px;
	}
	.tradingItem .title {
		font-size: 17px;
		line-height: 17px;
		padding-bottom: 12px;
		border-bottom-width: 2px;
		margin-bottom: 12px;
	}
	.tradingItem .text {
		font-size: 9px;
		line-height: 13px;
	}
	.tradingItem {
		padding: 32px 44px;
	}

	.tarifsItem .title {
		font-size: 17px;
		line-height: 17px;
		padding-bottom: 12px;
		border-bottom-width: 2px;
		margin-bottom: 12px;
		text-align: center;
	}
	.tarifsItem .text {
		font-size: 9px;
		line-height: 13px;
	}
	.tarifsItem {
		padding: 34px 44px;
	}
	.tarifsItem .border-btn {
		display: none;
	}
	.tarifsItem .text-wrap {
		padding: 0;
	}
	.tarifsItems {
		margin-bottom: 71px;
	}
	.tarifInformation-header {
		padding-bottom: 10px;
		margin-bottom: 14px;
		border-bottom-width: 2px;
		font-size: 11px;
		line-height: 15px;
	}
	.tarifInformation-col .title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 20px;
	}
	.tarifInformation-col .info-list {
		font-size: 14px;
		line-height: 18px;
	}
	.tarifInformation-col .info-list li {
		margin-bottom: 6px;
	}
	.tarifInformation-col .info-list li + li {
		padding-top: 8px;
	}
	.tarifInformation-mobile-help .info {
		padding: 0 15px 0 0;
		font-size: 11px;
		line-height: 15px;
	}
	.tarifInformation-mobile-help {
		margin-right: -15px;
		margin-bottom: 20px;
	}
	.tarifInformation-mobile-help .text {
		font-size: 11px;
		line-height: 15px;
	}
	.tarifInformation {
		margin-bottom: 50px;
	}
	.newsItem {
		-webkit-box-flex:0 0 50%;
		-moz-box-flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		width: 50%;
		min-height: 0;
		padding: 30px 25px 50px;
		border-top: 1px solid #e0e4ea;
	}
	.bottomNews {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		border: none;
	}
	.newsItem .text {
		font-size: 12px;
		line-height: 15px;
	}
	.newsItem .day, .newsItem .month {
		font-size: 18px;
		line-height: 22px;
	}
	.tarifInformation-col .buttons {
		text-align: center;
	}
	.tarifInformation-col .buttons a {
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.popup,
	.popup.wide {
		border-radius: 10px;
		width: 270px;
		margin-left: -135px;
	}
	.popup .close {
		top: -40px;
	}
	.input-holder {
		padding: 10px 15px;
	}
	.input-holder input {
		font-size: 16px;
	}
	.fs-dropdown.fs-light .fs-dropdown-selected {
		font-size: 16px;
		height: 46px;
		line-height: 46px;
	}
	.fs-dropdown.fs-light .fs-dropdown-item {
		font-size: 16px;
	}
	.popup-frame {
		padding-left: 35px;
		padding-right: 35px;
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.popup-header {
		font-size: 24px;
		line-height: 30px;
		padding: 12px 15px;
		border: none;
		margin-bottom: 0;
		text-align: center;
	}
	.popup-header .ico {
		display: none;
	}
	.popup-title {
		font-size: 24px;
		line-height: 30px;
		border: none;
		padding: 0;
		margin: 0 0 20px;
	}
	.steps-list {
		display: none;
	}
	.input-wrap .col {
		float: none;
		width: auto;
	}
	.input-wrap .col + .col .input-holder {
		border-left-width: 1px;
		border-top-width: 0;
	}
	.fs-dropdown.fs-light .fs-dropdown-selected {
		border-top-width: 1px;
	}
	.popup .btn {
		font-size: 15px;
		line-height: 20px;
		padding: 10px 20px;
	}
	#open-account-popup .btn-holder {
		padding-top: 10px;
	}
	.accordion .opener-icon {
		left: 20px;
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}
	.accordion .header {
		padding-left: 90px;
		padding-right: 0;
	}
	.accordion .opener-icon:before {
		height: 3px;
		width: 16px;
		margin: -2px 0 0 -8px;
	}
	.accordion .opener-icon:after {
		width: 3px;
		height: 16px;
		margin: -8px 0 0 -2px;
	}
	.accordion .header,
	.accordion .header strong {
		font-size: 24px;
		line-height: 30px;
	}
	.accordion .btn-holder,
	.document-list {
		margin-left: 10px;
		margin-right: 10px;
	}
	.accordion .btn-holder .btn {
		padding: 10px 30px;
		font-size: 18px;
		line-height: 22px;
	}
	.accordion {
		margin-bottom: 30px;
	}
	.requisitesCompany h3 {
		margin-left: 0;
	}
	.requisitesList dt {
		width: 170px;
		padding: 0;
		font-size: 12px;
		line-height: 18px;
	}
	.requisitesList dd {
		padding: 0;
		border: none;
		margin-left: 190px;
		font-size: 14px;
		line-height: 18px;
	}
	.requisitesList dl {
		margin: 0 0 10px;
	}
	.about-section {
		font-size: 14px;
		line-height: 20px;
	}
	.license-col {
		display: none;
	}
	.license-row .column {
		float: none;
		width: auto;
	}
	.license-row .wrap {
		padding: 20px 20px !important;

	}
	.license-row {
		background: none;
		border-top: 1px solid #d4d4d4;
		border-bottom: 1px solid #d4d4d4;
		text-align: center;
	}
	.team-leader .frame {
		padding: 20px;
	}
	.team-leader .name {
		font-size: 16px;
		line-height: 20px;
		margin: 0 0 5px;
	}
	.team-leader .post {
		margin-bottom: 10px;
	}
	.team-leader .text {
		font-size: 12px;
		line-height: 16px;
	}
	.team-leader .visual {
		height: 310px;
	}
	.team-leader {
		margin-bottom: 50px;
	}
	.team-list .name {
		font-size: 16px;
		line-height: 20px;
	}
	.team-list > li {
		padding-right: 10px;
		margin-bottom: 30px;
	}
	.team-list .info {
		font-size: 14px;
		line-height: 20px;
		padding: 30px;
	}


}

@media screen and (max-width: 499px){
	.header-frame {
		position: relative;
		padding: 20px 0 20px;
	}
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-info {
		margin: 1px 25px 0px 88px;
	}
	.header-phone {
		font-size: 16px;
		line-height: 16px;
		text-align: center;
	}
	.slick-slide.slick-active .cote-slider-item:before {
		display: none;
	}
	.services-columns {
		display: block;
	}
	.services-col {
		display: block;
		height: auto;
		padding: 40px 20px;
	}
	.partneer-section {
		padding: 40px 0 25px;
	}
	.slick-dots {
		padding-top: 10px;
	}
	.footer-row .copy, .footer-row .created {
		padding: 0 10px;
	}
	.logo {
		text-indent: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 9px;
		line-height: 11px;
		background: none;
		position: relative;
		width: 97px;
		height: 26px;
		position: absolute;
		top: 50%;
		margin-top: -13px;
	}
	.logo a:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 25px;
		background: url(../images/logo.png) no-repeat;
		background-size: auto 100%;
	}
	.logo a {
		padding: 2px 0 0 29px;
	}
	.investItem .frame,
	.investItem .visual {
		float: none;
		width: 100%;
	}
	.investItem .visual {
		height: 200px;
	}
	.news-list .newsItem,
	.tarifsItem,
	.tradingItem {
		-webkit-box-flex:0 0 100%;
		-moz-box-flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}
	.tradingInformation .visual {
		float: none;
		width: auto;
		padding: 0;
		margin: 0 0 20px;
	}
	.tradingInformation .frame {
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.newsItem {
		-webkit-box-flex:1 0 100%;
		-moz-box-flex: 1 0 100%;
		-webkit-flex: 1 0 100%;
		-ms-flex: 1 0 100%;
		flex: 1 0 100%;
		width: 100%;
	}
	.tarifInformation-col .info-list {
		font-size: 11px;
		line-height: 15px;
	}
	.tarifInformation-mobile-help .info {
		width: 100%;
		margin-bottom: 20px;
	}
	.requisitesList dt {
		float: none;
		width: auto;
		text-align: left;
	}
	.requisitesList dd {
		margin: 0;
	}
	.team-list > li {
		width: 100%;
	}
	.team-leader .visual {
		float: none;
		width: auto;
	}
	.team-leader .frame {
		float: none;
		width: auto;
	}
}