@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic';
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Light.eot');
	src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Light.woff') format('woff'),
		url('../fonts/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot');
	src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Bold.eot');
	src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Bold.woff') format('woff'),
		url('../fonts/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
html {
	height: 100%;
}
body {
	margin:0;
	color:#3e4146;
	font:14px/18px 'Circe', sans-serif;
	background:#fff;
	min-width: 320px;
	height: 100%;
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
}
img {
	border-style:none;
}
a {
	color:#000;
	text-decoration: none;
	outline:none;
}
a:hover {
	text-decoration: none;
}
* {
	outline:none;
}
input, textarea, select {
	font:100% 'Open Sans', sans-serif;
	vertical-align:middle;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
	display: block;
}
p {
	margin: 0 0 21px;
}
h1 {
	font-size: 30px;
	line-height: 36px;
	font-weight: normal;
	margin: 0 0 20px;
}
h2 {
	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	margin: 14px 0 24px;
}
h3 {
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	margin: 0 0 22px;
}
big {
	font-size: 16px;
}
small {
	font-size: 12px;
}
.clear:after {
	display: block;
	clear: both;
	content: '';
}
.img-holder img,
.visual img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
#wrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
#header {
	position: relative;
	z-index: 3;
}
#main {
	-webkit-flex: 5000 1 auto;
	-moz-flex: 5000 1 auto;
	-ms-flex: 5000 1 auto;
	-o-flex: 5000 1 auto;
	flex: 5000 1 auto;
	position: relative;
	z-index: 2;
}
#footer {
	background: #fff;
	padding: 0 0 0;
	z-index: 3;
	position: relative;
}
.container{
	max-width: 1160px;
	/*width: 940px;*/
	padding: 0 20px;
	margin: 0 auto;
}
.mobile-nav{
	display: none;
}
.logo{
	margin:-1px 0 0 17px;
	width:189px;
	height:46px;
	overflow:hidden;
	display:block;
	background:url(../images/logo.png) no-repeat;
	text-indent:-9999px;
	cursor:pointer;
	float: left;
}
.logo a{
	height:100%;
	display:block;
}
.header-frame {
	padding: 19px 0 21px;
}
.header-info {
	float: right;
}
.header-info address {
	float: left;
	font-style: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: right;
	margin: 1px 0 0;
}
.header-phone {
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	float: left;
	padding: 0 25px;
	border-left: 1px solid #e0e4ea;
	border-right: 1px solid #e0e4ea;
	margin: 6px 0 0 26px;
}
.phone a {
	color: #313040;
	text-decoration: none;
}
.phone span {
	color: #dbe2ef;
}
.login-link {
	float: left;
	margin: 2px 0 0 20px;
	padding: 0px 0 0 46px;
	line-height: 21px;
	color: #313040;
	position: relative;
}
.login-link:hover {
	opacity: .8;
}
.login-link:before {
	content: '';
	position: absolute;
	background: url(../images/deco01.png) no-repeat;
	width: 24px;
	height: 28px;
	top: 4px;
	left: 8px;
}
.login-link span {
	display: block;
	width: 70px;
}
.nav {
	background: #24232d;
}
#nav {
	margin:0;
	padding:0;
	list-style:none;
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#nav > li {
	display: table-cell;
	vertical-align: top;
	text-transform: uppercase;
	border-right: 1px solid #3d3c48;
	position: relative;
}
#nav > li:first-child {
	border-left: 1px solid #3d3c48;
}
#nav a {
	display: block;
	padding: 24px 30px;
	text-align: center;
	color: #fff;
	text-decoration: none;
}
#nav .hasdrop > a span {
	display: inline-block;
	padding: 0 20px 0 0;
	position: relative;
}
#nav .hasdrop > a span:before {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 3px 0 3px;
	border-color: #fff transparent transparent transparent;
	margin: -3px 0 0;
}
#nav .drop {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 280px;
	margin:0;
	padding:0;
	list-style:none;
	background: #24232d;
	text-align: left;
	display: none;
}
#nav li:hover > a {
	background: rgba(255,255,255,.1);
}
#nav li:hover .drop {
	display: block;
}
#nav .drop a {
	display: block;
	padding: 21px 40px;
	text-align: left;
}
#nav .drop a:hover {
	background: #3879e8;
}
.main-promo {
	background: url(../images/promo-bg.jpg) no-repeat 50% 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}
.main-promo_info {
	padding: 134px 0 117px;
}
.promo-logo {
	text-align: center;
	margin: 0 0 27px;
}
.promo-logo img {
	vertical-align: top;
}
.promo-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 45px;
	line-height: 50px;
	margin: 0 0 9px;
}
.promo-description {
	text-align: center;
	font-size: 18px;
	line-height: 21px;
	opacity: .82;
	margin: 0 0 48px;
	text-transform: uppercase;
}
.promo-columns {
	font-size: 24px;
	line-height: 32px;
	font-weight: 300;
	position: relative;
	overflow: hidden;
}
.promo-columns p {
	margin: 0 0 32px;
}
.promo-columns:before {
	content: '';
	position: absolute;
	top: 8px;
	bottom: 8px;
	left: 50%;
	border-left: 1px solid #fff;
}
.promo-columns .col {
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 67px;
}
.promo-columns .col:first-child {
	text-align: right;
}
.promo-columns .col + .col {
}
.main-promo_row {
	padding: 57px 0 73px;
	background: rgba(0,0,0,.6);
}
.cote-slider-list {
	margin:0;
	padding:0;
	list-style:none;
}
.cote-slider {
	position: relative;
}
.cote-slider .name {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	margin: 0 0 16px;
}
.cote-slider .percent {
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	font-weight: bold;
	margin: 0 0 21px;
}
.cote-slider .percent.green {
	color: #6fcd59;
}
.cote-slider .percent.red {
	color: #e44949;
}
.cote-slider .num {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #616179;
}
.cote-slider .slick-arrow {
	position: absolute;
	top: 50%;
	width: 22px;
	height: 22px;
	border: 1px solid #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background: none;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}
.cote-slider .slick-prev {
	left: 0;
	border-top-color: transparent;
	border-right-color: transparent;
}
.cote-slider .slick-next {
	right: 0;
	border-bottom-color: transparent;
	border-left-color: transparent;
}
.cote-slider-item {
	position: relative;
	padding: 0 20px;
}
.slick-slide.slick-active .cote-slider-item:before {
	content: '';
	position: absolute;
	top: 13px;
	bottom: 7px;
	left: -1px;
	border-left: 1px solid #3d3c48;
}
.services-columns {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.services-col {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 587px;
	color: #fff;
}
.services-section {
	position: relative;
}
.services-section-title {
	top: -31px;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
	z-index: 3;
}
.services-section-title span{
	display: inline-block;
	vertical-align: top;
	color: #fff;
	padding: 14px 37px;
	border-radius: 50px;
	background: #313040;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
}
.bg-img-wrap {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
}
.bg-img {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.services-col {
	-webkit-background-size: auto 100%;
	position: relative;
	background-size: auto 100%;
	-webkit-transition: background-size 0.4s ease 0s;
	-moz-transition: background-size 0.4s ease 0s;
	-o-transition: background-size 0.4s ease 0s;
	transition: background-size 0.4s ease 0s;
}
.services-col:hover {
	-webkit-background-size: auto 110%;
	background-size: auto 110%;
}
.services-col:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(18, 47, 91, 0.5);
	opacity: 0;
	-webkit-transition: opacity 0.4s ease 0s;
	-moz-transition: opacity 0.4s ease 0s;
	-o-transition: opacity 0.4s ease 0s;
	transition: opacity 0.4s ease 0s;
}
.services-col > * {
	position: relative;
	z-index: 3;
}
.services-col:hover:before {
	opacity: 1;
}
.services-col .visual {
	margin: 22px 0 28px;
}
.services-col .name{
	font-weight: bold;
	font-size: 48px;
	line-height: 52px;
	margin: 0 0 28px;
}
.services-col .info {
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	display: inline-block;
	vertical-align: top;
	width: 330px;
	position: relative;
	padding: 27px 0 0;
}
.services-col .info:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 108px;
	border-top: 1px solid #fff;
	margin-left: -54px;
}
.partneer-section {
	padding: 89px 0 44px;
}
.partneer-section .title {
	margin: 0 0 14px;
	text-align: center;
	font-weight: bold;
	font-size: 34px;
	line-height: 36px;
}
.partneer-slider {
	position: relative;
}
.partneer-slider-list {
	margin:0;
	padding:0;
	list-style:none;
	text-align: center;
}
.partneer-slider .slick-slide img {
	display: inline;
	opacity: .7;
	vertical-align: middle;
}
.partneer-slider .slick-slide a:hover img {
	opacity: 1;
}
.partneer-slider .img-wrap {
	display: block;
	height: 200px;
	line-height: 200px;
}
.slick-dots {
	margin:0;
	padding:45px 0 0;
	list-style:none;
}
.slick-dots li {
	display: inline-block;
	vertical-align: top;
	margin: 0 3px;
}
.slick-dots button {
	background: none;
	border: none;
	border-radius: 10px;
	text-indent: -9999px;
	overflow: hidden;
	position: relative;
	width: 15px;
	height: 15px;
	padding: 0;
	border-radius: 50%;
	background: #6b95ea;
	border: 4px solid #fff;
}
.slick-dots .slick-active button {
	border-color: #eff2f8;
	background: #313040;
}
.footer-information {
	background: #f9f7f7;
	padding: 78px 0 72px;
}
.footer-info {
	float: left;
	width: 26.4%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 30px 0 0;
}
.footer-about-col {
	float: left;
	width: 22.1%;
	padding: 0 20px 0 0
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.footer-nav-col {
	float: left;
	width: 24.1%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.footer-tarif-col {
	float: left;
	width: 26%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.footer-information .company {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 26px;
	padding: 0 0 18px;
	position: relative;
}
.footer-information address {
	margin: 0 0 27px;
	font-style: normal;
	font-size: 14px;
	line-height: 21px;
}
.footer-information address p {
	margin: 0;
}
.footer-information .phone {
	font-weight: bold;
	font-size: 24px;
	line-height: 27px;
}
.footer-information h4 {
	margin: 0 0 25px;
	padding: 0 0 26px;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	position: relative;
}
.footer-information .company:before,
.footer-information h4:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 56px;
	border-top: 1px solid #e0e4ea;
}
.footer-information ul {
	margin:0;
	padding:0;
	list-style:none;
}
.footer-information ul li {
	margin: 0 0 16px;
}
.footer-information ul a {
	text-decoration: none;
}
.footer-information ul a:hover {
	opacity: .8;
}
.footer-nav-col ul {
	margin: -10px 0 0;
	text-transform: uppercase;
}
.footer-nav-col ul li {
	margin-bottom: 30px;
}
.footer-nav-col .icon {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	line-height: 40px;
	width: 40px;
	text-align: center;
	margin: 0 20px 0 0;
}
.footer-nav-col .icon img {
	vertical-align: middle;
}
.footer-nav-col .text {
	display: inline-block;
	vertical-align: middle;
}
.footer-row {
	background: url(../images/footer-bg.jpg) no-repeat 50% 0;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 66px 0 37px;
	position: relative;
}
.footer-row .open-account-wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: -31px;
	text-align: center;
}
.btn {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
	border-radius: 50px;
	padding: 14px 52px;
	background: #3879e8;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
}
.btn:hover {
	background: #2562cb;
}
.footer-row .copy,
.footer-row .created {
	float: left;
	width: 50%;
	text-align: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 27px;
	color: #595869;
}
.footer-row .created {
	float: right;
	text-align: left;
	position: relative;
}
.footer-row .created a{
	color: #3879e8;
	text-decoration: none;
}
.footer-row .created a:hover{
	opacity: .8;
}
.footer-row .created:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	border-left: 1px solid #4b4a5a;
	height: 32px;
	margin-top: -16px;
}

.mobile-map {
	display: none;
	position: relative;
}
#map-canvas {
	position: relative;
	z-index: 1;
}
.map-address {
	position: absolute;
	top: 45px;
	right: 30px;
	width: 160px;
	background: #fff;
	z-index: 4;
}
.map-address .header {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	background: url(../images/bg03.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 15px 20px;
	text-transform: uppercase;
}
.map-address .frame {
	padding: 15px 20px;
}
.map-address .phone {
	font-size: 14px;
	margin: 0 0 12px;
}
.map-address address {
	font-style: normal;
	font-size: 12px;
	line-height: 13px;
	margin: 0 0 14px;
}
.map-address .mail {
	font-size: 14px;
	line-height: 17px;
	margin: 0 0 16px;
}
.map-address .mail a {
	color: #3879e8;
	text-decoration: none;
}
.map-address .btn {
	display: block;
	text-align: center;
	border: 1px solid #3879e8;
	background: none;
	padding: 5px 10px;
	border-radius: 50px;
	color: #3879e8;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
}

.mobile-nav-closer,
.nav-opener {
	display: none;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 7px;
	right: 1px;
}

.mobile-nav-closer span,
.nav-opener span {
	display: block;
	position: relative;
	width: 17px;
	height: 4px;
	background: #313040;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2px 0 0 -5px;
}
.mobile-nav-closer span:after,
.mobile-nav-closer span:before,
.nav-opener span:before,
.nav-opener span:after {
	content: '';
	position: absolute;
	width: 28px;
	right: 0;
	background: #313040;
	height: 4px;
	top: -9px;
}
.mobile-nav-closer span:after,
.nav-opener span:after {
	top: 9px;
}
.mobile-nav-closer {
	right: auto;
	left: 6px;
	display: block;
}
.mobile-nav-closer span,
.mobile-nav-closer span:after,
.mobile-nav-closer span:before {
	background: #fff;
}
.mobile-nav {
	position: fixed;
	top: 0;
	width: 273px;
	z-index: 10;
	right: 0;
	background: #313040;
	height: 100vh;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px 18px 0;
	overflow-y: auto;
}
.mob-nav-list {
	margin:0;
	padding:0 0 ;
	list-style:none;
}
.mob-nav-list a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
}
.mob-nav-list .drop {
	display: none;
	margin:0 -18px;
	background: #5f5d7c;
	padding:0 18px;
	list-style:none;
}
.mob-nav-list li {
	border-top: 1px solid #5f5d7c;
	position: relative;
}
.open-account {
	display: block;
	margin: 0 -18px;
	background: #3879e8;
	height: 70px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: 24px 20px;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}
.mob-nav-list .drop-open {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 40px;
}
.mob-nav-list .drop-open:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 3px 0 3px;
	border-color: #fff transparent transparent transparent;
	margin: -3px 0 0 -3px;
}
.mob-nav-list .drop-active > a {
	color: #5f5d7c;
}
.mob-nav-list .drop-active .drop-open:before {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.mob-nav-list a.cabinet {
	padding-left: 30px;
	position: relative;
}
.mob-nav-list a.cabinet:before {
	content: '';
	position: absolute;
	background: url(../images/deco02.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 16px;
	height: 19px;
	top: 50%;
	left: 0;
	margin-top: -10px;
}
.border-btn {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #3879e8;
	border-radius: 50px;
	padding: 12px 44px;
	border: 1px solid #3879e8;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
}
.border-btn:hover {
	color: #fff;
	background: #2562cb;
}
.section-title {
	text-align: center;
	padding: 69px 20px 78px;
	font-weight: bold;
	font-size: 48px;
	line-height: 52px;
}
.investItem {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.investItem.first {
	border-top: 1px solid #b2b2b2;
}
.investItem .visual {
	height: 587px;
	width: 50%;
	float: left;
}
.investItem .frame {
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
}
.investItem.right .visual {
	float: right;
}
.investItem .wrap {
	text-align: left;
	max-width: 600px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 76px 70px 20px 71px;
}
.investItem.right .wrap {
	float: right;
}
.investItem .title {
	font-weight: bold;
	font-size: 48px;
	line-height: 55px;
	margin: 0 0 23px;
}
.investItem p {
	margin: 0 0 38px;
}
.tradingItems {
	background: url(../images/bg04.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	overflow: hidden;
}
.tradingItem {
	float: left;
	width: 25%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 87px 2% 68px;
}
.tradingItem .title {
	font-size: 35px;
	line-height: 35px;
	/* font-size: 2.2vw;
	line-height: 1.1; */
	font-weight: bold;
	padding: 0 0 24px;
	margin: 0 0 23px;
	border-bottom: 4px solid #e0e4ea;
}
.tradingItem .text {
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	/* font-size: 1.1vw;
	line-height: 1.2; */
}
.tradingInformation {
	padding: 129px 0 158px;
}
.tradingInformation .visual {
	float: left;
	width: 50%;
	text-align: center;
	padding: 0 0 0 33px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.tradingInformation .visual:before {
	content: '';
	position: absolute;
	background: url(../images/deco03.png) no-repeat;
	width: 52px;
	height: 549px;
	left: 100%;
	top: 50%;
	margin-top: -275px;
}
.tradingInformation .frame {
	margin-left: 50%;
	padding: 56px 20px 0 77px;
}
.tradingInformation .name {
	margin: 0 0 31px;
}
.tradingInformation .name img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}
.tradingInformation .platform {
	margin: 0 0 27px;
	color: #c1c3c7;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
}
.tradingInformation .platform .icon {
	vertical-align: middle;
	display: inline-block;
	margin: 0 18px 0 0;
}
.tradingInformation .platform span {
	display: inline-block;
	vertical-align: middle;
}
.tradingInformation .text {
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 29px;
}
.download-btn {
	display: inline-block;
	vertical-align: top;
	background: #33afa6;
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	padding: 13px 90px;
	border-radius: 50px;
	color: #fff;
}
.download-btn:hover {
	background: #298e87;
}
.tradingSlider .wrap {
	padding: 0 40px 0 0;
}
.tradingSlider .visual {
	margin: 0 0 30px;
}
.tradingSlider .title {
	margin: 0 0 27px;
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	color: #212837;
}
.tradingSlider .text {
	font-size: 14px;
	line-height: 21px;
	color: #8d8d8d;
}
.tradingSlider-list {
	margin:0;
	padding:0;
	list-style:none;
}
.tradingSlider {
	margin: 0 0 114px;
}
.tradingSlider .slick-dots {
	text-align: center;
}

.tarifsItems {
	background: url(../images/bg05.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin: 0 0 131px;
}
.tarifsItem {
	float: left;
	width: 25%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 105px 2% 150px;
	color: #fff;
	position: relative;
	-webkit-box-flex:0 0 25%;
	-moz-box-flex: 0 0 25%;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
}
.tarifsItem:hover {
	background: rgba(0,0,0,.5);
}
.tarifsItem .title {
	font-size: 35px;
	line-height: 39px;
	font-weight: bold;
	padding: 0 0 32px;
	margin: 0 0 33px;
	border-bottom: 4px solid #e0e4ea;
}
.tarifsItem .text {
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
}
.tarifsItem .border-btn {
	display: block;
	text-align: center;
	position: absolute;
	bottom: 101px;
	left: 8%;
	right: 8%;
}
.tarifsItem .text-wrap {
	padding-bottom: 50px;
}
.tarifInformation {
	margin: 0 0 137px;
}
.tarifInformation-header {
	padding: 0 0 12px;
	border-bottom: 4px solid #d4d4d4;
	font-size: 14px;
	line-height: 18px;
	color: #b9b9c1;
	margin: 0 0 31px;
}
.tarifInformation-header:after{
	display:block;
	clear:both;
	content:'';
}
.tarifInformation-header .col {
	float: left;
}
.tarifInformation-header .col.col01 {
	width: 305px;
}
.tarifInformation-header .col.col02 {
	width: 350px;
}
.tarifInformation-header .col.col03 {
	width: 200px;
}
.tarifInformation-header span {
	color: #000;
	font-family: 'Roboto', sans-serif;
}
.tarifInformation-main {
	position: relative;
}
.tarifInformation-main:after{
	display:block;
	clear:both;
	content:'';
}
.tarifInformation-name {
	float: left;
	width: 305px;
	font-weight: bold;
	font-size: 35px;
	line-height: 35px;
}
.tarifInformation-row {
	margin-left: 305px;
}
.tarifInformation-col {
	float: left;
	width: 550px;
}
.tarifInformation-info {
	float: left;
	width: 260px;
	margin-left: 45px;
}
.tarifInformation-col .title {
	margin: 0 0 35px;
	font-size: 24px;
	line-height: 32px;
	font-weight: 300;
}
.tarifInformation-col .title strong {
	font-weight: bold;
}
.tarifInformation-col .info-list {
	margin:0;
	padding:0 0 21px;
	list-style:none;
	color: #a7a6b3;
	font-size: 18px;
	line-height: 24px;
}
.tarifInformation-col .info-list li {
	margin: 0 0 16px;
	overflow: hidden;
	width: 100%;
}
.tarifInformation-col .info-list li + li {
	padding: 19px 0 0;
	border-top: 1px solid #e0e6f1;
}
.tarifInformation-col .info-list .col01 {
	float: left;
	width: 350px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px 0 0;
}
.tarifInformation-col .info-list .col02 {
	float: left;
	width: 200px;
}
.tarifInformation-info .icon {
	margin: 0 0 11px;
	display: block;
}
.tarifInformation-info .star {
	font-family: 'Roboto', sans-serif;
	display: block;
	font-weight: bold;
	font-size: 40px;
	line-height: 42px;
	margin: 0 0 4px;
}
.tarifInformation-info .text {
	font-size: 14px;
	line-height: 21px;
}
.tarifInformation-row + .tarifInformation-row .title {
	border-top: 5px solid #000;
	padding-top: 31px;
}
.tarifInformation-col .information {
	font-size: 14px;
	line-height: 18px;
	padding: 34px 0 15px;
	border-top: 1px solid #e0e6f1;
	border-bottom: 1px solid #e0e6f1;
	margin: 0 0 38px;
}
.tarifInformation-col .information p {
	margin: 0 0 18px;
}
.tarifInformation-col .buttons {
	text-align: right;
	margin-top: 4px;
	margin-left: -300px;
}
.tarifInformation-col .buttons a {
	margin-left: 10px;
}
.tarifInformation-info .price {
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	margin: 0 0 10px;
}
.tarifInformation-name span {
	font-family: 'Roboto', sans-serif;
}
.tarifInformation-info a {
	color: #3879e8;
}
.tooltipster-sidetip .tooltipster-box {
	background: #faf9ec;
	color: #313040;
	padding: 0;
	border: none;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.tooltipster-sidetip .tooltipster-content {
	padding: 20px;
	color: #313040;
}
.bottomNews {
	border-top: 1px solid #e0e4ea;
	overflow: hidden;
	position: relative;
}
.newsItem {
	float: left;
	width: 25%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 52px 50px;
	min-height: 305px;
	position: relative;
}
.newsItem:hover {
	background: rgba(0,0,0,.02);
}
.newsItem:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: -1px;
	border-left: 1px solid #e0e4ea;
}
.newsItem.seeAll {
	background: #3879e8;
	color: #fff;
	font-size: 30px;
	line-height: 34px;
	font-weight: 300;
}
.newsItem.seeAll:hover {
	background: #2562cb;
}
.newsItem.seeAll strong {
	font-weight: bold;
	display: block;
}
.newsItem.seeAll:before {
	display: none;
}
.newsItem .dateInfo {
	float: left;
	width: 40px;
	text-align: center;
}
.newsItem .day,
.newsItem .month {
	font-weight: 300;
	font-size: 24px;
	line-height: 26px;
	margin: 0 0 5px;
}
.newsItem .year {
	border-top: 1px solid #d4d4d4;
	font-size: 11px;
	line-height: 14px;
	padding: 10px 0 0;
}
.newsItem .text {
	font-size: 21px;
	line-height: 27px;
	margin-left: 80px;
}
.tarifInformation-name-mobile {
	display: none;
}
.tarifInformation-mobile-help {
	display: none;
}
.popup-holder{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:50;
	display: none;
}
.popup-holder .bg{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	min-width: 300px;
	height:100%;
	background:#292835;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.popup{
	position:absolute;
	left:50%;
	top:150px;
	margin-left:-227px;
	width: 455px;
	background: #fff;
	border-radius: 24px;
}
.popup-header {
	background: #f9f7f7;
	padding: 41px 84px 36px;
	border-radius: 24px 24px 0 0;
	font-size: 48px;
	line-height: 52px;
	font-weight: bold;
}
.popup-header .ico img{
	margin: 0 28px 0 0;
	vertical-align: top;
}
.popup-frame {
	padding: 53px 80px;
}
.input-holder {
	display:block;
	padding: 20px 25px;
	border: 1px solid #24232d;
	height: 24px;
}
.input-holder input {
	float: left;
	width: 100%;
	padding: 0;
	background: none;
	border: none;
	height: 24px;
	font-size:21px;
	line-height:24px;
	color:#000;
}
.input-holder + .input-holder {
	margin-top: -1px;
}
.form-row {
	margin: 0 0 20px;
}
.checkbox-holder {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 39px;
}
button.btn {
	border: none;
	text-align: center;
	cursor: pointer;
}
#login-popup button.btn {
	width: 100%;
}
.popup .close {
	position: absolute;
	background: url(../images/close.png) no-repeat;
	width: 33px;
	height: 33px;
	top: -86px;
	right: 0;
}
.popup .close:hover {
	opacity: .8;
}
.fs-checkbox-marker {
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid;
	cursor: pointer;
	display: block;
	float: left;
}
.fs-checkbox.fs-light .fs-checkbox-marker {
	width: 16px;
	height: 16px;
	background: #f9f7f7;
	border: 1px solid #24232d;
	border-radius: 0;
	margin: 0 10px 0 0;
}
.fs-checkbox-flag {
	width: 100%;
	height: 100%;
	margin: 0;
}
.fs-checkbox-element {
	width: 110%;
	height: 110%;
	position: absolute;
	top: -5%;
	right: -5%;
	bottom: -5%;
	left: -5%;
	z-index: -1;
	background: 0 0;
	border: 0;
	margin: 0;
	padding: 0;
	pointer-events: none;
	-webkit-transition: none;
	transition: none;
	opacity: 0;
	-webkit-appearance: none;
}
.fs-checkbox-flag:before {
	width: 5px;
	height: 10px;
	border: 2px solid;
	border-top: 0;
	border-left: 0;
	content: '';
	display: block;
	margin: 1px 0 0 5px;
	-webkit-transition: -webkit-transform .15s ease;
	transition: -webkit-transform .15s ease;
	transition: transform .15s ease;
	transition: transform .15s ease, -webkit-transform .15s ease;
	transition: transform .15s ease,-webkit-transform .15s ease;
	-webkit-transform: rotate(45deg) scale(0);
	-ms-transform: rotate(45deg) scale(0);
	transform: rotate(45deg) scale(0);
}
.fs-checkbox-checked .fs-checkbox-flag:before {
	-webkit-transform: rotate(45deg) scale(1);
	-ms-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
}
.fs-checkbox.fs-light .fs-checkbox-flag:before {
	width: 5px;
	height: 10px;
	border: 2px solid #3879e8;
	border-top: 0;
	border-left: 0;
	margin: 1px 0 0 5px;
}

.popup.wide {
	width: 970px;
	margin-left: -485px;
}
.popup.wide .popup-frame {
	margin: auto;
	max-width: 550px;
	padding: 41px 20px;
}
.popup-title {
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	line-height: 52px;
	border-bottom: 1px solid #d6d6d6;
	margin: 0 0 34px;
	padding: 0 0 39px;
}
.steps-list {
	margin:0 -20px 56px 0;
	padding:0;
	list-style:none;
}
.steps-list > li {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin-left: -5px;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 18px;
}
.steps-list .num {
	font-weight: bold;
	margin: 0 0 10px;
	font-size: 30px;
	line-height: 32px;
}

.input-wrap + .input-wrap {
	margin-top: -1px;
}
.input-wrap:after{
	display:block;
	clear:both;
	content:'';
}
.input-wrap .col {
	float: left;
	width: 50%;
}
.input-wrap .col + .col .input-holder{
	border-left-width: 0;
}
.input-ico {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 64px;
	left: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}
.input-holder.has-ico {
	padding-left: 64px;
	position: relative;
}
.input-ico img {
	vertical-align: top;
}
.fs-dropdown.fs-light .fs-dropdown-selected {
	border-radius: 0;
	height: 64px;
	line-height: 64px;
	border-top-width: 0;
	font-size: 21px;
	color: #313040;
}
.fs-dropdown.fs-light .fs-dropdown-item {
	font-size: 21px;
}
.input-holder input::-webkit-input-placeholder {
	color:#313040;
	opacity: 1;
}
.input-holder input:-moz-placeholder {
	color:#313040;
	opacity: 1;
}
.input-holder input::-moz-placeholder {
	color:#313040;
	opacity: 1;
}
.input-holder input:-ms-input-placeholder {
	color:#313040;
	opacity: 1;
}
#open-account-popup .btn-holder {
	text-align: center;
	padding-top: 40px;
}
.accordion {
	border-bottom: 4px solid #313040;
	margin-bottom: 200px;
}
.accordion .item{
	border-top: 4px solid #313040;
}
.accordion .header {
	padding: 58px 300px 55px;
	font-size: 24px;
	font-weight: 300;
	line-height: 40px;
	position: relative;
}
.accordion .header strong {
	font-size: 35px;
	font-weight: bold;
	padding: 0 6px 0 0;
}
.accordion .opener-icon {
	position: absolute;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	border: 1px solid #3879e8;
	top: 50%;
	left: 55px;
	border-radius: 50%;
	cursor: pointer;
}
.accordion .opener-icon:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: #3879e8;
	width: 23px;
	height: 5px;
	margin: -3px 0 0 -12px;
	border-radius: 5px;
}
.accordion .opener-icon:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	background: #3879e8;
	width: 5px;
	height: 23px;
	margin: -12px 0 0 -3px;
	border-radius: 5px;
}
.accordion .item.active .opener-icon:after {
	display: none;
}
.accordion .expanded {
	display: none;
}
.accordion .item.active {
	background: #f9f7f7;
}
.accordion .item.active .expanded {
	display: block;
}
.accordion .btn-holder {
	max-width: 550px;
	margin: auto;
	text-align: right;
	padding-bottom: 45px;
}
.document-list {
	margin:0;
	padding:0 0 33px;
	list-style:none;
	margin: 0 auto 42px;
	max-width: 550px;
	font-size: 24px;
	line-height: 32px;
	border-bottom: 1px solid #d4d4d4;
}
.document-list > li {
	border-top: 1px solid #d4d4d4;
}
.document-list a {
	padding: 35px 0 35px 75px;
	position: relative;
	display: block;
}
.document-list a:hover {
	color: #3879e8;
}
.document-list a:before {
	content: '';
	position: absolute;
	background: url(../images/pdf-ico.png) no-repeat;
	width: 36px;
	height: 47px;
	top: 35px;
	left: 0;
}
.about-section-title {
	background: url(../images/bg06.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	margin-bottom: 106px;
}
.aboutCompany {
	padding: 0 60px 56px 54px;
}
.aboutCompany .visual {
	float: left;
}
.aboutCompany .frame {
	margin-left: 250px;
}
.about-section h3 {
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	margin: 0 0 28px;
}
.about-section {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
	margin: 0 0 121px;
}
.about-section p {
	margin: 0 0 24px;
}
.requisitesCompany h3 {
	margin-left: 300px;
}
.requisitesList dl {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.requisitesList dt {
	float: left;
	width: 256px;
	color: #a7a6b3;
	text-align: right;
	font-size: 14px;
	padding: 20px 0 14px 0;
}
.requisitesList dd {
	border-top: 1px solid #e0e6f1;
	margin-left: 300px;
	padding: 20px 0 15px 0;
}
.requisitesCompany {
	padding: 0 56px 0 3px;
}

.license-row {
	background: #f9f7f7;
	position: relative;
	overflow: hidden;
}
.license-row .column {
	float: left;
	width: 50%;
}
.license-row .wrap {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 580px;
	padding: 67px 0 21px 55px;
}
.license-row .column:first-child .wrap {
	float: right;
	padding-left: 55px;
	padding-right: 55px;
}
.license-slider {
	position: relative;
}
.license-slider-list {
	margin:0;
	padding:0;
	list-style:none;
}
.license-slider .visual {
	float: left;
	padding: 3px 0 0 23px;
}
.license-slider .img-holder {
	display: inline-block;
	vertical-align: top;
	padding: 2px 5px;
	background: #fff;
	margin: 0 0 47px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
.license-slider .visual a {
	color: #3879e8;
}
.license-slider .frame {
	margin-left: 207px;
	font-size: 16px;
	line-height: 24px;
}
.license-slider .title {
	font-weight: bold;
	font-size: 30px;
	line-height: 34px;
	margin: 0 0 21px;
}
.license-col {
	background: url(../images/deco05.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.license-row .name {
	margin: 26px 0 28px;
}
.license-row .text {
	font-size: 16px;
	line-height: 24px;
}
.license-row .slick-dots {
	padding: 0;
	text-align: center;
}
.license-row .slick-dots button {
	border-color: #eff2f8;
}
.license-row .slick-dots .slick-active button {
	border-color: #fff;
}
.desktop-map {
	position: relative;
}
.desktop-map #map-canvas {
	height: 690px;
}
.news-list {
	margin:0;
	padding:0;
	list-style:none;
}
.news-section-title {
	background: url(../images/bg07.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
}
.newsItem .drop-info {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	background: #f9f7f7;
	padding: 52px 50px;
}
.newsItem:hover .drop-info {
	display: block;
}
.newsItem .drop-info .text-frame {
	overflow: hidden;
	max-height: 145px;
}
.news-list .newsItem {
	border-right: 1px solid #e0e4ea;
	border-bottom: 1px solid #e0e4ea;
}
.news-list .newsItem .text {
	font-size: 18px;
	line-height: 23px;
}
.newsItem .drop-info .btn-holder {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	text-align: center;
}
.team-section-title {
	background: url(../images/bg08.jpg) no-repeat 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	padding-bottom: 263px;
	margin-bottom: -185px;
}
.team-leader {
	margin: 0 0 86px;
	background: #1f1f1f;
	color: #fff;
	overflow: hidden;
}
.team-leader .visual {
	float: left;
	width: 50%;
	height: 508px;
}
.team-leader .frame {
	float: left;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 59px 74px 30px;
}
.team-leader .name {
	font-size: 35px;
	line-height: 45px;
	margin: 0 20px 9px 0;
}
.team-leader .post {
	margin: 0 0 42px;
	color: #a7a6b3;
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}
.team-leader .text {
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
}


.team-list {
	margin:0;
	padding:0 0 115px;
	list-style:none;
	font-size:0;
	line-height:0;
	letter-spacing:-4px;
}
.team-list > li {
	font-size:14px;
	line-height:normal;
	letter-spacing:normal;
	display:inline-block;
	vertical-align:top;
	position: relative;
	padding: 30px 30px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33%;
	margin: 0 0 123px;
}
.team-list .info {
	position: absolute;
	display: none;
	top: 0;
	left: -25px;
	right: 25px;
	background: rgba(249,247,247,.95);
	padding: 54px 46px;
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
	z-index: 2;
}
.team-list a:hover .info {
	display: block;
}
.team-list .visual {
	margin: 0 0 29px;
}
.team-list .name {
	margin: 0 0 5px;
	font-weight: 300;
	color: #3879e8;
	font-size: 24px;
	line-height: 32px;
}
.team-list .post {
	color: #a7a6b3;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
}



